* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "gilroy";
  src: url("./Gilroy-Regular.otf");
}

.blr {
  filter: blur(55px) saturate(10);
}

#blrone {
  position: fixed;
  right: 5%;
  bottom: 10%;
  width: 130px;
  height: 150px;
  opacity: 0.4;
  background-color: #ea945bbd;
  z-index: 1;
  border-radius: 50%;
}

#blrtwo {
  position: fixed;
  left: 5%;
  bottom: 60%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(35px) saturate(10);
  filter: blur(55px) saturate(10);
  background-color: #e7a350;
  z-index: 1;
}

#leftside{
  position: absolute;
  left: 0%;
  top: 17%;
  width: 10px;
  height: 10px;
  z-index: 1;
}

#leftside img{
  object-fit: cover;
  width: 300px;
}

#rightside{
  position: absolute;
  right: 20%;
  top: 8%;
  width: 10px;
  height: 10px;
  z-index: 1;
}

#rightside img{
  object-fit: cover;
  width: 300px;
}

.span{
  color: #F15533;
  font-weight: 700;
}

#main {
  padding: 20px 120px;
  font-family: gilroy;
  width: 100%;
}


#nav {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img {
  width: 80px;
}


#nav #links a {
  text-decoration: none;
  color: #a8a7a7;
  padding: 10px 15px;
  display: inline-block;
  transition: color 0.3s;
  font-weight: 700;
  z-index: 9;
  position: relative;
}

#nav #links a:first-child {
  color: #ff5d23;
}

#nav #links a:hover{
  color: #ff5d23;
}

#nav #links a:focus,
#nav #links a:active {
  color: #ff5d23;
}

.anim-btn h4 a {
  text-decoration: none;
  color: black;
  z-index: 9;
  position: relative;
}

.anim-btn h4 {
  font-weight: 500;
  border: 1px solid #5a5a5a;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all ease 0.4s;
  margin-right: 40px;
  color: #ff5d23;
}

.anim-btn h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff5d23;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.anim-btn h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.anim-btn h4:hover a {
  color: #fff;
  font-weight: 700;
}

#hero{
  width: 100%;
  height: 70vh;
  /* margin-bottom: 50px; */
}


#hero  h1{
  font-size: 60px;
  width: 75%;
  margin-top: 80px;
}

#hero #lower{
  width: 80%;
  /* display: flex; */
  margin-top: 80px;
}

#hero #lower  p{
  font-size: 18px;
  width: 60%;
  margin-top: 20px;
}

#buttondiv {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-evenly;
  margin-top: 50px;
}

#buttondiv:hover #buttondiv #arrow{
  rotate: -30deg;
}


#second{
  /* margin-top: 40px; */
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 10px 100px;
  flex-direction: column;
  align-items: center;
  /* border-top: 5px solid #ff5d23; */
}

#second-h1{
  font-size: 50px;
  text-align: center;
  width: 80%;
  margin: 50px 0px;
}

#sec-divs{
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}

#sec-divs .status{
  width: 33%;
}

#sec-divs .status .status-cnt{
  padding: 10px 20px;
  border: 1px dashed gray ;
  border-radius: 20px;
} 

#sec-divs .status .status-cnt h1{
  text-align: start;
  font-size: 50px;
}

#sec-divs .status p{
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 700;
  color: #7a7a7a;
}

#companies{
  width: 100%;
  min-height: 90vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#companies h1{
  font-size: 50px;
  text-align: center;
  width: 50%;
  margin: 20px 0px;
}

#comp-div{
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
}


#comp-div .logo{
    max-width: 150px;
    background-color: #F5F7F9;
    cursor: pointer;
    border-radius: 20px;
    transition: all ease .3s;
}

#comp-div .logo:hover{
  background-color: #F15533;

}

#comp-div .logo img{
  width: 100%;
  object-fit: cover;
}

#services{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#upper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
}


#services #upper p{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: #F5F7F9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-right:10px;
}

#services #upper p img{
  width: 48px;
  margin-right: 10px;
}

#services #upper h1{
  font-size: 50px;
  text-align: center;
  width: 50%;
}

#services #lower{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sidebar {
  width: 30%;
  display: inline-block;
  float: left;
  position: sticky;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 8px 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.sidebar ul li.active {
  color: #e44d26;
  font-weight: bold;
}

#content-cnt{
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  gap: 30px;
}

#content-cnt::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: #F5F7F9;
  padding: 30px;
  border-radius: 10px;
  margin-top: 50px;
}
.content h2 {
  margin: 0 0 10px;
  font-weight: 700;
}
.content p {
  color: #555;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 0px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0px;
}
.tag {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f1f3f5;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}
.view-details {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about{
  width: 100%;
  min-height: 100vh;
}

